# Kopiraj ovaj fajl kao ".env" i unesi svoje Supabase podatke
# Supabase > Settings > API

VITE_SUPABASE_URL=https://TVOJ-PROJEKT.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
